In [1]:
pwd

'C:\\Users\\craig\\desktop\\PythonCode\\python-challenge'

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Load in file
city_data = "pyber/city_data.csv"
ride_data = "pyber/ride_data.csv"

In [4]:
#test2 = pd.io.parsers.read_csv(ride_data, sep=',', iterator=True, chunksize=1000)
#test2 = pd.concat(test2, ignore_index=True)

In [5]:
#test3 = pd.merge(test1, test2, how='left', on=['city'])

In [6]:
# Create DataFrame from city CSV
city_df = pd.read_csv(city_data, low_memory=False)

city_df.head()

             city  driver_count   type
0      Kelseyland          63.0  Urban
1      Nguyenbury           8.0  Urban
2    East Douglas          12.0  Urban
3   West Dawnfurt          34.0  Urban
4  Rodriguezburgh          52.0  Urban

In [7]:
# Create DataFrame from ride CSV
ride_df = pd.read_csv(ride_data, low_memory=False)
ride_df.head()

          city             date   fare       ride_id
0     Sarabury  1/16/2016 13:49  38.35  5.403690e+12
1    South Roy   1/2/2016 18:42  17.49  4.036270e+12
2  Wiseborough  1/21/2016 17:35  44.18  3.645040e+12
3  Spencertown  7/31/2016 14:53   6.87  2.242600e+12
4   Nguyenbury    7/9/2016 4:42   6.28  1.543060e+12

In [11]:
# Merge the two created data frames by city
merged_df = pd.merge(city_df, ride_df, on = "city", how="outer")
merged_df.head()

         city  driver_count   type             date   fare       ride_id
0  Kelseyland          63.0  Urban   8/19/2016 4:27   5.51  6.246010e+12
1  Kelseyland          63.0  Urban   4/17/2016 6:59   5.54  7.466470e+12
2  Kelseyland          63.0  Urban   5/4/2016 15:06  30.54  2.140500e+12
3  Kelseyland          63.0  Urban  1/25/2016 20:44  12.08  1.896990e+12
4  Kelseyland          63.0  Urban   8/9/2016 18:19  17.91  8.784210e+12

In [1]:
# Calc Average Fare ($) Per City
avg_fare_city = merged_df.groupby(['city'])['fare'].mean()
avg_fare_city

NameError: name 'merged_df' is not defined

In [13]:
# Total Number of Rides Per City
num_rides_city = merged_df.groupby(['city'])['rides'].sum()
num_rides_city

MemoryError: