In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
cd ..

C:\Users\craig\Desktop\PythonCode

In [10]:
# Load in file
data_file = "got.csv"

In [11]:
# Create DataFrame from CSV
df = pd.read_csv(data_file)
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [24]:
# Create a Series containing the number of times each king was an attacker
attacker_data = df["attacker_king"].value_counts()
defender_data = df["defender_king"].value_counts()
defender_data

Robb Stark                  14
Joffrey/Tommen Baratheon    13
Balon/Euron Greyjoy          4
Stannis Baratheon            2
Mance Rayder                 1
Renly Baratheon              1
Name: defender_king, dtype: int64

In [25]:
battle_data = attacker_data.add(defender_data, fill_value = 0)
battle_data

Balon/Euron Greyjoy         11.0
Joffrey/Tommen Baratheon    27.0
Mance Rayder                 1.0
Renly Baratheon              1.0
Robb Stark                  24.0
Stannis Baratheon            7.0
dtype: float64

In [23]:
battle_data = attacker_data.add(defender_data, fill_value = 0)
battle_data

NameError: name 'attacker_data' is not defined

In [ ]:
x_labels = battle_data.index