In [1]:
pwd

'C:\\Users\\craig\\desktop\\PythonCode\\python-challenge'

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import glob

In [3]:
cd pyber

C:\Users\craig\desktop\PythonCode\python-challenge\pyber

In [4]:
# Load in file
city_data = "city_data.csv"
ride_data = "ride_data.csv"

In [5]:
#test1 = pd.io.parsers.read_csv(city_data, sep=',', iterator=True, chunksize=1000)
#test1 = pd.concat(test1, ignore_index=True)

In [6]:
#test2 = pd.io.parsers.read_csv(ride_data, sep=',', iterator=True, chunksize=1000)
#test2 = pd.concat(test2, ignore_index=True)

In [7]:
#test3 = pd.merge(test1, test2, how='left', on=['city'])

In [8]:
# Create DataFrame from city CSV
city_df = pd.read_csv(city_data, low_memory=False)

city_df.head()

             city  driver_count   type
0      Kelseyland          63.0  Urban
1      Nguyenbury           8.0  Urban
2    East Douglas          12.0  Urban
3   West Dawnfurt          34.0  Urban
4  Rodriguezburgh          52.0  Urban

In [ ]:
# Create DataFrame from ride CSV
ride_df = pd.read_csv(ride_data, low_memory=False)
ride_df.head()

          city             date   fare       ride_id
0     Sarabury  1/16/2016 13:49  38.35  5.403690e+12
1    South Roy   1/2/2016 18:42  17.49  4.036270e+12
2  Wiseborough  1/21/2016 17:35  44.18  3.645040e+12
3  Spencertown  7/31/2016 14:53   6.87  2.242600e+12
4   Nguyenbury    7/9/2016 4:42   6.28  1.543060e+12

In [ ]:
# Merge the two data frames on the name of tbe city
merged_df = pd.merge(city_df, ride_df, how="left", on = ["city", "city"])
merged_df.head()

In [ ]:
# Merge the two data frames on the name of tbe city
merged_df = pd.merge(city_df, ride_df, on=['city', 'city'], how='left')
merged_df.head()