In [3]:
cd pyber/

C:\Users\craig\Desktop\PythonCode\python-challenge\pyber

In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import glob

In [7]:
city_df = pd.read_csv('city_data.csv')
city_df.head()

C:\Users\craig\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             city  driver_count   type
0      Kelseyland          63.0  Urban
1      Nguyenbury           8.0  Urban
2    East Douglas          12.0  Urban
3   West Dawnfurt          34.0  Urban
4  Rodriguezburgh          52.0  Urban

In [8]:
ride_df = pd.read_csv('ride_data.csv')
ride_df.head()

C:\Users\craig\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          city             date   fare       ride_id
0     Sarabury  1/16/2016 13:49  38.35  5.403689e+12
1    South Roy   1/2/2016 18:42  17.49  4.036272e+12
2  Wiseborough  1/21/2016 17:35  44.18  3.645042e+12
3  Spencertown  7/31/2016 14:53   6.87  2.242597e+12
4   Nguyenbury    7/9/2016 4:42   6.28  1.543058e+12

In [12]:
df = pd.merge(city_df, ride_df, on=['city'])

MemoryError: