In [1]:
# Dependendicies

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Pandas Series
data_series = pd.Series(("UCLA", "UC Berkeley", "UC Irvine", "Rutgers"))

In [4]:
data_series

0           UCLA
1    UC Berkeley
2      UC Irvine
3        Rutgers
dtype: object

In [5]:
# Convert to DataFrame
data_frame = data_series.to_frame()
data_frame

             0
0         UCLA
1  UC Berkeley
2    UC Irvine
3      Rutgers

In [7]:
# Convert a Dictionary into a DataFrame
states_dicts = {"New Jersey": "NJ"}
# Create a dataframe using dictionaries
df_kingdoms = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kigdom"],
     "Pharoah": ["Thinis", "Memphis"],
    }
    
df_kingdoms

SyntaxError: invalid syntax (<ipython-input-7-0b18d953d5f3>, line 9)

In [8]:
# Convert a Dictionary into a DataFrame
states_dicts = {"New Jersey": "NJ"}
# Create a dataframe using dictionaries
df_kingdoms = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharoah": ["Thinis", "Memphis"],
    }
    )
)
    
df_kingdoms

SyntaxError: invalid syntax (<ipython-input-8-dbf11918f8d5>, line 9)

In [10]:
# Convert a Dictionary into a DataFrame
states_dicts = {"New Jersey": "NJ"}
# Create a dataframe using dictionaries
df_kingdoms = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharoah": ["Thinis", "Memphis"],
    }
)
    
df_kingdoms

                 Dynasty  Pharoah
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis