In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Load in file
city_data = "city_data4.csv"
ride_data = "ride_data_original.csv"

In [3]:
# Create DataFrame from city CSV
city_df = pd.read_csv(city_data, low_memory=False)
city_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [4]:
# Create DataFrame from ride CSV
ride_df = pd.read_csv(ride_data, low_memory=False)
ride_df.head()

          city             date   fare       ride_id
0     Sarabury  1/16/2016 13:49  38.35  5.403689e+12
1    South Roy   1/2/2016 18:42  17.49  4.036272e+12
2  Wiseborough  1/21/2016 17:35  44.18  3.645042e+12
3  Spencertown  7/31/2016 14:53   6.87  2.242597e+12
4   Nguyenbury    7/9/2016 4:42   6.28  1.543058e+12

In [5]:
# Merge the two created data frames by city
merged_df = pd.merge(ride_df, city_df, on = "city", how="outer")
merged_df.head()

       city             date   fare       ride_id  driver_count   type
0  Sarabury  1/16/2016 13:49  38.35  5.403689e+12          46.0  Urban
1  Sarabury   7/23/2016 7:42  21.76  7.546682e+12          46.0  Urban
2  Sarabury    4/2/2016 4:32  38.03  4.932496e+12          46.0  Urban
3  Sarabury   6/23/2016 5:03  26.82  6.711035e+12          46.0  Urban
4  Sarabury  9/30/2016 12:48  30.30  6.388737e+12          46.0  Urban

In [12]:
# Calc Total Fares ($) 
total_fares = merged_df["fare"].sum()
total_fares

64669.11999999993

In [17]:
# Calc Average Fare ($) Per City
average_fare_city = merged_df.groupby(["city"]).mean()["fare"]
average_fare_city = average_fare_city.map("${:,.2f}".format)
average_fare_city

city
Alvarezhaven            $23.93
Alyssaberg              $20.61
Anitamouth              $37.32
Antoniomouth            $23.62
Aprilchester            $21.98
Arnoldview              $25.11
Campbellport            $33.71
Carrollbury             $36.61
Carrollfort             $25.40
Clarkstad               $31.05
Conwaymouth             $34.59
Davidtown               $22.98
Davistown               $21.50
East Cherylfurt         $31.42
East Douglas            $26.17
East Erin               $24.48
East Jenniferchester    $32.60
East Leslie             $33.66
East Stephen            $39.05
East Troybury           $33.24
Edwardsbury             $26.88
Erikport                $30.04
Eriktown                $25.48
Floresberg              $32.31
Fosterside              $23.03
Hernandezshire          $32.00
Horneland               $21.48
Jacksonfort             $32.01
Jacobfort               $24.78
Jasonfort               $27.83
                         ...
South Roy               $26.03
South Shannonborough    $26.52
Spencertown             $23.68
Stevensport             $31.95
Stewartview             $21.61
Swansonbury             $27.46
Thomastown              $30.31
Tiffanyton              $28.51
Torresshire             $24.21
Travisville             $27.22
Vickimouth              $21.47
Webstertown             $29.72
West Alexis             $19.52
West Brandy             $24.16
West Brittanyton        $25.44
West Dawnfurt           $22.33
West Evan               $27.01
West Jefferyfurt        $21.07
West Kevintown          $21.53
West Oscar              $24.28
West Pamelaborough      $33.80
West Paulport           $33.28
West Peter              $24.88
West Sydneyhaven        $22.37
West Tony               $29.61
Williamchester          $34.28
Williamshire            $26.99
Wiseborough             $22.68
Yolandafurt             $27.21
Zimmermanmouth          $28.30
Name: fare, Length: 125, dtype: object

In [13]:
# Calc Total Rides per City
total_rides_city = merged_df.groupby(["city"]).nunique()["ride_id"]
total_rides_city

city
Alvarezhaven            31
Alyssaberg              26
Anitamouth               9
Antoniomouth            22
Aprilchester            19
Arnoldview              31
Campbellport            15
Carrollbury             10
Carrollfort             29
Clarkstad               12
Conwaymouth             11
Davidtown               21
Davistown               25
East Cherylfurt         13
East Douglas            22
East Erin               28
East Jenniferchester    19
East Leslie             11
East Stephen            10
East Troybury            7
Edwardsbury             27
Erikport                 8
Eriktown                19
Floresberg              10
Fosterside              24
Hernandezshire           9
Horneland                4
Jacksonfort              6
Jacobfort               31
Jasonfort               12
                        ..
South Roy               22
South Shannonborough    15
Spencertown             26
Stevensport              5
Stewartview             30
Swansonbury             34
Thomastown              24
Tiffanyton              13
Torresshire             26
Travisville             23
Vickimouth              15
Webstertown             16
West Alexis             20
West Brandy             30
West Brittanyton        24
West Dawnfurt           29
West Evan               12
West Jefferyfurt        21
West Kevintown           7
West Oscar              29
West Pamelaborough      14
West Paulport           17
West Peter              31
West Sydneyhaven        18
West Tony               19
Williamchester          11
Williamshire            31
Wiseborough             19
Yolandafurt             20
Zimmermanmouth          24
Name: ride_id, Length: 125, dtype: int64

In [14]:
# Calc Total Drivers per City
total_drivers_city = merged_df.groupby(["city"]).count()["driver_count"]
total_drivers_city

city
Alvarezhaven            31
Alyssaberg              26
Anitamouth               9
Antoniomouth            22
Aprilchester            19
Arnoldview              31
Campbellport            15
Carrollbury             10
Carrollfort             29
Clarkstad               12
Conwaymouth             11
Davidtown               21
Davistown               25
East Cherylfurt         13
East Douglas            22
East Erin               28
East Jenniferchester    19
East Leslie             11
East Stephen            10
East Troybury            7
Edwardsbury             27
Erikport                 8
Eriktown                19
Floresberg              10
Fosterside              24
Hernandezshire           9
Horneland                4
Jacksonfort              6
Jacobfort               31
Jasonfort               12
                        ..
South Roy               22
South Shannonborough    15
Spencertown             26
Stevensport              5
Stewartview             30
Swansonbury             34
Thomastown              24
Tiffanyton              13
Torresshire             26
Travisville             23
Vickimouth              15
Webstertown             16
West Alexis             20
West Brandy             30
West Brittanyton        24
West Dawnfurt           29
West Evan               12
West Jefferyfurt        21
West Kevintown           7
West Oscar              29
West Pamelaborough      14
West Paulport           17
West Peter              31
West Sydneyhaven        18
West Tony               19
Williamchester          11
Williamshire            31
Wiseborough             19
Yolandafurt             20
Zimmermanmouth          24
Name: driver_count, Length: 125, dtype: int64

In [15]:
# Calc Total Rides by City
rural_rides = total_rides_city.values[0]
suburban_rides = total_rides_city.values[1]
urban_rides = total_rides_city.values[2]
suburban_rides

26

In [16]:
# Calc Total Number of Drivers Per City Type
total_drivers_city = merged_df.groupby(["type"])["driver_count"].nunique()
total_drivers_city

type
Rural        8
Suburban    25
Urban       42
Name: driver_count, dtype: int64

In [18]:
# Calc Total Drivers by City
rural_drivers = total_drivers_city.values[0]
suburban_drivers = total_drivers_city.values[1]
urban_drivers = total_drivers_city.values[2]
rural_drivers

8

In [19]:
# Calc Total Fares ($) Per City
total_fare = merged_df.groupby(["type"]).sum()["fare"]
total_fare = total_fare.map("${:,.2f}".format)
total_fare

type
Rural        $4,255.09
Suburban    $20,335.69
Urban       $40,078.34
Name: fare, dtype: object

In [24]:
# Calc Total Fares by City Typr
rural_total = total_fare.values[0]
suburban_total = total_fare.values[1]
urban_total = total_fare.values[2]
rural_total

'$40,078.34'

In [26]:
# Calc % of Total Fares by City Type
rural_total_percent = rural_total / float(total_fares) * 100
rural_total_percent

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [21]:
# Calc % of Total Rides by City Type
rural_rides_percent = rural_rides / float(total_rides) * 100 
suburban_rides_percent = suburban_rides / float(total_rides) * 100
urban_rides_percent = urban_rides / float(total_rides)
urban_rides_percent

NameError: name 'total_rides' is not defined

In [ ]:
# Labels for the sections of our pie chart
labels = ["Rural", "Suburban", "Urban"]

# The values of each section of the pie chart
sizes = [185, 172, 100, 110]

# The colors of each section of the pie chart
colors = ["gold", "light sky blue", "lightcoral"]

# Tells matplotlib to seperate the "Python" section from the others
explode = (0, 0, 0, 0)