In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Load in file
city_data = "city_data4.csv"
ride_data = "ride_data_original.csv"

In [3]:
# Create DataFrame from city CSV
city_df = pd.read_csv(city_data, low_memory=False)
city_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [4]:
# Create DataFrame from ride CSV
ride_df = pd.read_csv(ride_data, low_memory=False)
ride_df.head()

          city             date   fare       ride_id
0     Sarabury  1/16/2016 13:49  38.35  5.403689e+12
1    South Roy   1/2/2016 18:42  17.49  4.036272e+12
2  Wiseborough  1/21/2016 17:35  44.18  3.645042e+12
3  Spencertown  7/31/2016 14:53   6.87  2.242597e+12
4   Nguyenbury    7/9/2016 4:42   6.28  1.543058e+12

In [5]:
# Merge the two created data frames by city
merged_df = pd.merge(ride_df, city_df, on = "city", how="outer")
merged_df.head()

       city             date   fare       ride_id  driver_count   type
0  Sarabury  1/16/2016 13:49  38.35  5.403689e+12          46.0  Urban
1  Sarabury   7/23/2016 7:42  21.76  7.546682e+12          46.0  Urban
2  Sarabury    4/2/2016 4:32  38.03  4.932496e+12          46.0  Urban
3  Sarabury   6/23/2016 5:03  26.82  6.711035e+12          46.0  Urban
4  Sarabury  9/30/2016 12:48  30.30  6.388737e+12          46.0  Urban

In [6]:
# Calc Average Fare ($) Per City
average_fare_city = merged_df.groupby(["type"]).mean()["fare"]
average_fare_city

type
Rural       34.040720
Suburban    30.952344
Urban       24.663594
Name: fare, dtype: float64

In [7]:
# Calc Total Number of Rides Per City
total_rides_city = merged_df.groupby(["type"]).nunique()["fare"]
total_rides_city

type
Rural        124
Suburban     575
Urban       1344
Name: fare, dtype: int64

In [8]:
# Calc Total Number of Drivers Per City Type
total_drivers_city = merged_df.groupby(["type"])["driver_count"].nunique()
total_drivers_city

type
Rural        8
Suburban    25
Urban       42
Name: driver_count, dtype: int64

In [9]:
# Calc Total Fares ($) Per City
total_fare = merged_df.groupby(["type"]).sum()["fare"]
total_fare = total_fare.map("${:,.2f}".format)
total_fare

type
Rural        $4,255.09
Suburban    $20,335.69
Urban       $40,078.34
Name: fare, dtype: object

In [10]:
# Create a DataFrame to hold results
per_type_summary = pd.DataFrame({"Average Fare per City": average_fare_city,
                                   "Total Number of Rides Per City": total_rides_city,
                                   "Total Number of Drivers Per City": total_drivers_city})

per_type_summary["Average Fare per City"] = per_type_summary["Average Fare per City"].map("${:,.2f}".format)

# Display the data frame
per_type_summary

,Average Fare per City,Total Number of Drivers Per City,Total Number of Rides Per City
type,,,
Rural,$34.04,8,124
Suburban,$30.95,25,575
Urban,$24.66,42,1344

In [11]:
# % of Total Fares by City Type using conditionals
rural_fare = merged_df[(merged_df["type"] == "Rural")]
#rural_fare

In [12]:
# % of Total Rides by City Type

In [13]:
# % of Total Drivers by City Type
#Rural_percent = (total_rides_city/) * 100

SyntaxError: invalid syntax (<ipython-input-13-760cb1d78375>, line 2)

In [ ]:
# Labels for the sections of our pie chart
labels = ["Rural", "Suburban", "Urban"]

# The values of each section of the pie chart
sizes = [185, 172, 100, 110]

# The colors of each section of the pie chart
colors = ["gold", "light sky blue", "lightcoral"]

# Tells matplotlib to seperate the "Python" section from the others
explode = (0, 0, 0, 0)